*{
    margin: 0;
    padding: 0;
    font-family: Verdana, serif;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    /*width: 100%;*/
    overflow: hidden;
    padding: 10px;
    background-color: #c2c6d3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow:  10px 5px 15px rgba(158, 136, 166, 0.85);
}
.logo {
    width: 115px;
    margin-left: 20px;
}
.logo:hover{
    cursor: pointer;
}
.nav-items-container{
    display: flex;
}
.nav-items-container > div{
    font-weight: bold;
    list-style: none;
    margin: 10px;
    padding: 15px;
}
.nav-items-container > div > a{
    text-decoration: none;
    color: #30ae81;
}
.nav-items-container > div:hover {
    cursor: pointer;
}

.outlet{
    margin-top: 90px;
}

.body-container {
    padding: 20px;
}
.body-container-filter-sorting{
    display: flex;
    padding: 15px;
    gap: 30px;
    margin-left: 8px;
}
.body-container-search-filter{
    display: flex;
    gap: 3px;
}
.body-filter-btn {
    /*margin: 15px;*/
    padding: 7px;
    border-radius: 15px;
    outline: auto;
    /*background-color: #f66d13;*/
}
.body-filter-btn:hover{
    cursor: pointer;
    color: #2d55bb;
    /*background-color: #e78c56;*/
}
.restaurant-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.restaurant-container > a{
    text-decoration: none;
    color: black;
}
.restaurant-card{
    border-radius: 18px;
    margin: 10px;
    width: 200px;
    /*height: 230px;*/
    padding: 5px;
}
.restaurant-card:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: -1px -1px 10px 2px rgba(0, 0, 0, 0.92);
}
.restaurant-card-image{
    border-radius: 15px;
    width: 100%;
}
.restaurant-card-tile-rating-div{
    display: flex;
    justify-content: space-between;
}
.restaurant-card-detail{
    display: flex;
    flex-flow: column;
    gap: 4px;
}

/*footer*/
.upper-footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    background-color: #e0dddd;
    height: 100px;
}
.upper-footer-punch-line {
    font-size: xx-large;
    font-weight: bold;
    color: rgba(38, 36, 36, 0.97);
}
.upper-footer-images img {
    /*width: 200px;*/
    height: 68px;
}
.lower-footer {
    background-color: rgb(2, 6, 12);
    height: 250px;
}
.lower-footer-content{
    display: flex;
    justify-content: space-around;
    padding: 60px;
    color: #c2c6d3;
    font-size: medium;
}
.lower-footer-content > div {
    display: flex;
    flex-flow: column;
}
.footer-img {
    width: 120px;
}
.links-title {
    color: grey;
    margin: 8px 0;
}
.links1 > div{
    padding: 3px;
}
.links1 > div > a {
    text-decoration: none;
    color: #e0dddd;
}

/*About*/
.about-lines{
    background-color: #987979;
    height: auto;
    font-size: xx-large;
    color: green;
    padding: 60px;
    text-align: start;
}

/*Orders*/
.empty-cart{
    display: flex ;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /*margin: 10px;*/
    > a{
        text-decoration: none;
    }
}
.cart-img{
    width: 400px;
    margin: 40px;
}
.cart-title{
    margin: 15px;
    font-weight: bold;
}
.cart-button{
    margin: 10px;
    background-color: orange;
    padding: 15px 80px;
    color: white;
    font-weight: bold;
}
.cart-button:hover{
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(158, 136, 166, 0.85);
}

/*Contact*/
.contact{
    display: flex;
    margin: 200px 0;
    height: 300px;
}
.contact-left{
    width: 50%;
    background-color: #ab9898;
    text-align: center;
    padding-top: 80px;
    font-weight: bold;
    font-size: xx-large;
    color: #bbc252;
}
.contact-right{
    display: flex;
    justify-content: center;
    flex-flow: column;
    > textarea{
        margin: 10px 200px;
        padding: 10px;
        width: 50%;
        height: 500px;
    }
    > input, > button{
        text-align: center;
        font-weight: bold;
        color: white;
        width: 50%;
        margin: 10px 200px;
        padding: 10px;
        background-color: rgba(200, 154, 225, 0.85);
        border-radius: 15px;
    }
    > button:hover{
            cursor: pointer;
            transform: scale(1.05);
    }
}